.footer {}

.footer .f_top {
    padding: 50px 0;
    background: #172743;
}

.footer .f_top>ul {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

@media(max-width:769px) {
    .footer .f_top>ul {
        gap: 40px;
        width: auto;
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.footer .f_top>ul>li {
    flex: 1;
    margin: 0 0 20px 0;
}

.footer .f_top>ul>li>a {
    display: block;
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #ff5c00;
}

.footer .f_top>ul>li>ul>li {
    color: #fff;
}

.footer .f_top>ul>li>ul>li>a {
    font-size: 14px;
    font-weight: 300;
}

.footer .f_top>ul>li>ul>li>a:hover {
    border-bottom: 1px solid #fff;
}

.footer .f_top>ul>li>ul>li~li {
    margin: 10px 0 0 0;
}

@media(max-width:769px) {
    .footer .f_top>ul>li>a {
        font-size: 15px;
    }

    .footer .f_top>ul>li>ul>li>a {
        font-size: 12px;

    }
}

.footer .f_inner {
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

@media(max-width:769px) {
    .footer .f_inner {
        gap: 30px;
        width: auto;
        padding: 50px 20px;
        flex-direction: column;
    }
}

.footer .f_inner address span {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

.footer .f_inner address span~span {
    margin: 0 0 0 30px;
}

.footer .f_inner address span~span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0%, -50%);
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #aaa;
}

.footer .f_inner address .copy {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 100;
}

@media(max-width:769px) {
    .footer .f_inner address {
        display: flex;
        flex-direction: column;
    }

    .footer .f_inner address span~span {
        margin: 0;
    }

    .footer .f_inner address span~span::before {
        content: none;
    }
}