@import url(../css/header.css);
@import url(../css/footer.css);

.mainVisual {
    position: relative;
}

.mainVisual .visual_slide .sl_itm {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mainVisual .visual_slide .sl_item01 {
    background-image: url(../img/main_visual01.jpg);
}

.mainVisual .visual_slide .sl_item02 {
    background-image: url(../img/main_visual02.jpg);
}

.mainVisual .visual_slide .sl_item03 {
    background-image: url(../img/main_visual03.jpg);
}

.mainVisual .visual_slide .sl_item04 {
    background-image: url(../img/main_visual04.jpg);
}

.mainVisual .visual_slide .sl_item05 {
    background-image: url(../img/main_visual05.jpg);
}

.mainVisual .visual_slide .sl_itm .inner {
    position: relative;
    height: 100vh;
}

.mainVisual .visual_slide .sl_itm .inner .visual_text_wrap {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-shadow: 0 0 1px #000;
    color: #fff;
}

.mainVisual .visual_slide .sl_itm .inner .visual_text_wrap .visual_desc {
    margin: 0 0 30px 0;
}

@media(max-width:769px) {

    .mainVisual .visual_slide .sl_itm .inner {
        width: 100%;
    }

    .mainVisual .visual_slide .sl_itm .inner .visual_text_wrap {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        text-shadow: 0 0 1px #000;
        color: #fff;

        padding-right: 20px;
    }

}

.mainVisual .visual_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .visual_slide .slick-dots>li {
    display: inline-block;
}

.mainVisual .visual_slide .slick-dots>li~li {
    margin: 0 0 0 10px;

}

.mainVisual .visual_slide .slick-dots>li>button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
}

@media(max-width:769px) {

    .mainVisual .visual_slide .slick-dots>li>button {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 0;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #fff;
    }

}

.mainVisual .visual_slide .slick-dots .slick-active button {
    background: #ff5c00;
    border: 1px solid #ff5c00;
}


.mainAbout {
    background: url(../img/main_about_bg.jpg) no-repeat center center/cover;
}

.mainAbout .inner .sec_tit {
    color: #fff;
    margin: 0 0 100px 0;
}


.mainAbout .inner .ab_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mainAbout .inner .ab_content .con_itm {
    border: 7px solid #c6c6c6;
    width: 100%;
    padding: 50px;
    transition: 0.4s;
}

.mainAbout .inner .ab_content .con_itm:hover {
    border: 7px solid #fff;
}

.mainAbout .inner .ab_content .con_itm figure {
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
}

.mainAbout .inner .ab_content .con_itm .con_txt {
    color: #fff;
}

@media(max-width:769px) {

    .mainAbout .inner {
        width: 100%;
    }

    .mainAbout .inner .sec_tit {
        padding: 0 20px;
    }

    .mainAbout .inner .ab_content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .mainAbout .inner .ab_content .con_itm {
        display: flex;
        gap: 30px;
        justify-content: space-between;

    }

    .mainAbout .inner .ab_content .con_itm figure {
        margin: 0;
        width: auto;
    }

    .mainAbout .inner .ab_content .con_itm .con_txt {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainAbout .inner .ab_content .con_itm .con_txt strong {
        text-align: left;
    }

    .mainAbout .inner .ab_content .con_itm .con_txt p {
        text-align: left;
    }

}

.mainBusiness::after {
    content: "";
    display: block;
    clear: both;
}

.mainBusiness .bu_content {
    position: relative;
    float: right;
    width: 80%;

}

.mainBusiness .bu_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30%;
    width: 30%;
    height: 100%;
    background: #f9f9f9;
}

.mainBusiness .bu_content .bu_sl .sl_itm {
    position: relative;
    height: 70vh;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding: 100px;
}

@media(max-width:769px) {
    .mainBusiness .inner {
        width: auto;
    }

    .mainBusiness .bu_content {
        position: relative;
        float: none;
        width: 100%;
    }

    .mainBusiness .bu_content::before {
        content: none;
    }

    .mainBusiness .bu_content .bu_sl .sl_itm {
        height: 40vh;
        padding: 50px 20px;
    }

}



.mainBusiness .bu_content .bu_sl .sl_item01 {
    background-image: url(../img/main_slide01.png);
}

.mainBusiness .bu_content .bu_sl .sl_item02 {
    background-image: url(../img/main_slide02.png);
}

.mainBusiness .bu_content .bu_sl .sl_item03 {
    background-image: url(../img/main_slide03.png);
}

.mainBusiness .bu_content .bu_sl .sl_item04 {
    background-image: url(../img/main_slide04.png);
}

.mainBusiness .bu_content .bu_sl .sl_item05 {
    background-image: url(../img/main_slide05.png);
}

.mainBusiness .bu_content .bu_sl .sl_item06 {
    background-image: url(../img/main_slide06.png);
}

.mainBusiness .bu_content .sl_itm .bu_sl_text {
    color: #fff;
}

.mainBusiness .bu_content .sl_itm .bu_sl_text p {
    margin: 0 0 50px 0;
}

.mainBusiness .bu_content .bu_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 134px !important;
    background: #fff;
}


.mainBusiness .bu_content .bu_nav::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    z-index: 999;
}

.mainBusiness .bu_content .bu_nav::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0px;
    width: 5px;
    height: calc(100% + 5px);
    background: #fff;
    z-index: 999;
}

.mainBusiness .bu_content .bu_nav .sl_nav {
    width: 141px !important;
    height: 134px !important;
    margin: 0 5px 0 0;
}

.mainBusiness .bu_content .bu_nav .sl_nav img {
    width: 141px !important;
    height: 134px !important;
    object-fit: cover;
}

.mainBusiness .bu_content .bu_nav .sl_nav.slick-current img {
    border: 5px solid #f93d09;
}

@media(max-width:769px) {
    .mainBusiness .bu_content .bu_nav::after {
        content: none;

    }

    .mainBusiness .bu_content .bu_nav {
        width: 315px !important;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 50px !important;
    }

    .mainBusiness .bu_content .bu_nav .sl_nav {
        width: 50px !important;
        height: 50px !important;
        margin: 0;
    }

    .mainBusiness .bu_content .bu_nav .sl_nav~.sl_nav {

        margin: 0 0 0 3px;
    }

    .mainBusiness .bu_content .bu_nav .sl_nav img {
        width: 50px !important;
        height: 50px !important;
    }

    .mainBusiness .bu_content .bu_nav .sl_nav.slick-current img {
        border: 2px solid #f93d09;
    }
}


.mainBusiness .bu_content .bu_nav .sl_nav.last {
    margin: 0;
}

.mainBusiness .bu_content .bu_nav .slick-track {
    width: auto !important;
}

.mainBusiness .bu_content .bu_nav .slick-list {
    padding: 0 !important;
}

.mainBusiness .bu_content .bu_sl .slick-next {
    position: absolute;
    bottom: 150px;
    left: 100px;
    transform: translateY(-50%);
    z-index: 999;
}

.mainBusiness .bu_content .bu_sl .slick-prev {
    position: absolute;
    bottom: 200px;
    left: 100px;
    transform: translateY(-50%);
    z-index: 999;
}

.mainNetworks {
    background: url(../img/bg_network.jpg)no-repeat center center/cover;
}

.mainNetworks .inner .net_tit {
    text-align: center;
    color: #fff;
    margin: 0 0 50px 0;
}

.mainNetworks .inner .net_tit h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3;
}

.mainNetworks .inner .net_tit h2>b {
    font-weight: 700;
}

@media(max-width:769px) {
    .mainNetworks .inner {
        width: auto;
    }

    .mainNetworks .inner .net_tit h2 {
        font-size: 18px;
        padding: 0 20px;
    }
}

.mainNetworks .inner .glo_box {
    display: flex;
    justify-content: space-between;

}

@media(max-width:769px) {
    .mainNetworks .inner .glo_box {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

.mainNetworks .inner .glo_box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.4s;
}

@media(max-width:769px) {
    .mainNetworks .inner .glo_box a {
        width: 150px;
        height: 150px;
    }
}

.mainNetworks .inner .glo_box a:hover {
    background: #ff5c00;
    border: 1px solid #ff5c00;
}

.mainNetworks .inner .glo_box a>span {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

@media(max-width:769px) {
    .mainNetworks .inner .glo_box a>span {
        font-size: 14px;
    }
}